::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "rustico";
  src: url("/public/Rustico-Regular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: "Orbitron";
  background-color: white;
  min-height: 100vh;
}
input,
select,
button,
textarea {
  font-family: inherit;
}
.pop-up {
  position: fixed;
  transform: translate(-50%, -100%);
  left: 50%;
  top: -3px;
  width: min-content;
  height: min-content;
  padding: 3px;
  border-radius: 7px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  opacity: 0;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  z-index: 1000;
}
.pop-up.open {
  transform: translate(-50%, 20px);
  opacity: 1;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: green;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px -6px 16px 11px rgb(0, 0, 0);
  z-index: 99;
}
#logodiv {
  display: flex;
  align-items: center;
}
#title {
  color: black;
  font-size: 30px;
}
#logo {
  height: 50px;
}
.loader {
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: white;
}
.loadingcircle {
  width: 20px;
  height: 20px;
}
.c {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: black;
  opacity: 0;
}
#c1 {
  transform: translateY(-40px);
  animation: canim 1.4s linear infinite;
}
#c2 {
  transform: rotateZ(26deg) translateY(-40px);
  animation: canim 1.4s linear 0.1s infinite;
}
#c3 {
  transform: rotateZ(52deg) translateY(-40px);
  animation: canim 1.4s linear 0.2s infinite;
}
#c4 {
  transform: rotateZ(78deg) translateY(-40px);
  animation: canim 1.4s linear 0.3s infinite;
}
#c5 {
  transform: rotateZ(104deg) translateY(-40px);
  animation: canim 1.4s linear 0.4s infinite;
}
#c6 {
  transform: rotateZ(130deg) translateY(-40px);
  animation: canim 1.4s linear 0.5s infinite;
}
#c7 {
  transform: rotateZ(156deg) translateY(-40px);
  animation: canim 1.4s linear 0.6s infinite;
}
#c8 {
  transform: rotateZ(182deg) translateY(-40px);
  animation: canim 1.4s linear 0.7s infinite;
}
#c9 {
  transform: rotateZ(208deg) translateY(-40px);
  animation: canim 1.4s linear 0.8s infinite;
}
#c10 {
  transform: rotateZ(234deg) translateY(-40px);
  animation: canim 1.4s linear 0.9s infinite;
}
#c11 {
  transform: rotateZ(260deg) translateY(-40px);
  animation: canim 1.4s linear 1s infinite;
}
#c12 {
  transform: rotateZ(286deg) translateY(-40px);
  animation: canim 1.4s linear 1.1s infinite;
}
#c13 {
  transform: rotateZ(312deg) translateY(-40px);
  animation: canim 1.4s linear 1.2s infinite;
}
#c14 {
  transform: rotateZ(338deg) translateY(-40px);
  animation: canim 1.4s linear 1.3s infinite;
}
@keyframes canim {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#sidebar {
  position: fixed;
  height: 100%;
  width: 50%;
  background-color: rgb(0, 71, 0);
  z-index: 101;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

#sidebar.open {
  transform: translateX(0);
}
.open_close {
  height: 50px;
  width: 50px;
  background-color: transparent;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.sidebarbutton {
  height: 40px;
  width: 40px;
}
.open_close:hover {
  background-color: rgb(255, 255, 255);
}
#close_sidebar {
  margin-top: 15px;
}
section {
  padding: 20px;
  padding-top: 80px;
}
.sectionselection {
  width: 100%;
  height: 40px;
  border: 0px;
  border-top: 3px solid black;
  background-color: rgb(0, 71, 0);
  font-size: 20px;
  color: black;
}
#lastselector {
  border-bottom: 3px solid black;
}
.sectionselection:hover {
  background-color: rgb(0, 97, 0);
}
#under_sidebar {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
#under_sidebar.sidebar_open {
  opacity: 1;
}
.profilebutton {
  width: 40px;
  height: 40px;
}

#profilebutton {
  border: 0px;
  background-color: transparent;
  margin-right: 10px;
}
#loginbutton {
  margin-right: 10px;
}
section h1 {
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}
section p,
label {
  font-size: 25px;
  color: gray;
  font-weight: bold;
}
.matchdiv {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* horizontal scrollen */
  overflow-y: hidden;

  white-space: nowrap;

  scroll-behavior: smooth;
}
.matches {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: lightgray;
}
.matchpoints {
  display: grid;
  grid-template-columns: repeat(8, max-content);
  text-align: center;
  background-color: green;
  width: fit-content;
  border-radius: 7px;
  margin-left: 5px;
}
.matchpoints div:not(:empty) {
  margin-right: 10px;
  margin-top: 5px;
}
.matchpoints div {
  display: flex;
  align-items: center;
  font-size: 17px;
}
.matchinfo {
  font-size: 17px;
  margin-left: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}
section input,
select,
#start_match {
  font-size: 26px;
  color: gray;
  font-weight: bold;
  margin-bottom: 20px;
  width: 90%;
  height: 50px;
  border: 2px solid black;
  border-radius: 7px;
  background-color: white;
}

.logout_delete {
  width: 150px;
  height: 20px;
  border: 1px solid black;
  border-radius: 7px;
}
#logout {
  background-color: rgb(171, 171, 171);
}
#delete_user {
  background-color: red;
}

#start_match:hover {
  background-color: lightgray;
}

.search_div {
  position: relative;
  display: inline-block;
}

.search {
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  transition: all 0.4s ease;
  color: transparent;
  border: 2px solid black;
  border-radius: 0px;
}

.search::placeholder {
  color: transparent;
}

.search:focus {
  outline: none;
  width: 200px;
  height: 35px;
  padding-left: 30px;
  color: black;
  border: 2px solid #06b6d4;
  border-radius: 10px;
}

.search:focus::placeholder {
  color: black;
}

.search_img {
  position: absolute;
  height: 25px;
  margin: 5px;
  pointer-events: none;
}

.newfriend_div {
  position: fixed;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -100%);
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  transition: all 0.3s ease-in-out;
}

.newfriend_div h2 {
  position: fixed;
}

.newfriend_div_open {
  font-size: 10px;
  height: 400px;
  width: 90vw;
  background: rgba(255, 255, 255, 0.2);
  align-items: baseline;
}

#newfriend_open_div {
  margin-top: 60px;
  width: 100%;
}

#newfriend_open_div search-input {
  position: fixed;
  margin-top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#newfriend_searchoutput {
  margin-top: 20px;
}

.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 20px);
  font-size: 45px;
  background: rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.friend button {
  width: 45px;
  height: 45px;
  padding: 5px;
  background: transparent;
  border: 0;
  border-radius: 7px;
}

.friend img {
  width: 100%;
  height: 100%;
}

.delete_friend {
  animation: remove_friend 1s ease;
}

@keyframes remove_friend {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(130%);
    height: 50px;
    margin: 5px;
    padding: 5px;
  }
  100% {
    transform: translateX(130%);
    height: 0px;
    margin: 0px;
    padding: 0px;
  }
}

.favoritnames {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  width: 90%;
  margin-left: 5%;
  background-color: gray;
  border-radius: 10px;
  margin-top: 5px;
}

.favoritnames h3 {
  font-size: 25px;
  margin-left: 5px;
}

.favoritnames img {
  width: 100%;
  height: 100%;
}

.favoritnames button {
  height: 35px;
  width: 35px;
  padding: 5px;
  border: 0;
  background: transparent;
}

.check {
  appearance: none;
  width: 40px;
  height: 24px;
  transition: background 0.5s ease;
  overflow: hidden;
  border-radius: 12px;
  margin: 0px;
  border: 2px solid black;
  background: rgba(255, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}

.check:checked {
  background: rgba(31, 144, 0, 0.3);
}

.check::before {
  content: "";
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  background: red;
  transform: translateX(0px);
  transition:
    transform 0.3s ease-in-out,
    background 0.3s ease-in-out;
}

.check:checked::before {
  background: rgb(31, 144, 0);
  transform: translateX(16px);
}

#aloowposition {
  position: absolute;
  left: 90%;
}
