::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  grid-template-columns: auto 400px repeat(5, auto) 70px 80px;
  width: fit-content;
  margin-left: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 150px;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: lightgray;
}

section div,
button {
  border: 0px;
  font-size: 40px;
  padding: 5px;
  background-color: green;
}

.points {
  text-align: center;
}

.player {
  text-align: left;
  font-weight: bold;
}

.server {
  font-size: 20px;
  line-height: 50px;
}

.games {
  background-color: rgb(0, 71, 0);
  color: white;
}

.pointbtn {
  background: lightgray;
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointbtn img {
  height: 30px;
  transition: height 0.2s ease;
}

.pointbtn:hover img {
  height: 40px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.btns {
  margin: 10px;
  background: lightgray;
  border: 0px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  transform: scale(0.8);
  width: 70px;
  height: 70px;
}
.btns:hover {
  transform: scale(1.1);
}

#home {
  margin-left: auto;
  margin-right: 20px;
}

#loading {
  position: fixed;
  inset: 0;
  background: white;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tabButton {
  position: fixed;
  font-size: 20px;
  height: 30px;
  border: 0;
  background: linear-gradient(180deg, lightgray, transparent);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 200px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-bottom: 4px;
  top: 150px;
}

#infotabselector {
  left: 200px;
}

.border-bottom {
  position: fixed;
  left: 0;
  top: 180px;
  transition: left 0.4s ease;
  height: 4px;
  width: 200px;
  background: blue;
}

.border-bottom._2 {
  left: 200px;
}

#course {
  font-family: monospace;
  padding-top: 150px;
  margin: 20px;
}

#info {
  font-family: monospace;
  margin: 20px;
}

.rotate {
  animation: drehen 0.6s ease;
}

@keyframes drehen {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate {
  animation: wechsel 1s ease;
}

@keyframes wechsel {
  0% {
    background: rgb(0, 71, 0);
    color: white;
  }
  10% {
    background: white;
    color: black;
  }
  100% {
    background: rgb(0, 71, 0);
    color: white;
  }
}
